html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow: hidden;
}
.container-main{
    height: 100%;
    width: 100%;
}
#main-header{
    height: 10%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-header>div:first-child{
    display: flex;
    place-items: center;
    height: 100%;
    width: 30%;
}
#main-header>div:first-child>img{
    margin-top: 9px;
    height: 30px;
    margin-left: 8vb;
}
#main-header>div:last-child{
    display: grid;
    place-items: center;
    height: 100%;
    width: fit-content;
}
#nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    height: 100%;
    width: fit-content;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#nav>div{
    margin: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: white;
    width: 12vh;
    height: 5vh;
    border-radius: 10px;
    transition: background-color .5s ease-in-out;
}
.menu{
    display: none;
    margin-left: 0px;
    color: white;
    font-size: 28px;
}

#content-body{
    display: grid;
    place-items: center;
    font-size: 50px;
    height: 80%;
    width:100%;
    color: white;
    background-color: rgb(21, 21, 21);
}
#main-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 10%;
    width:100%;
    color: white;
    font-size: 30px;
}
.select{
    background-color: rgb(255, 255, 255);
    color: black !important;
}
.main-home{
    display: grid;
    place-items: center;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
#home_div{
    width: 70%;
}



@media (max-width: 1200px) {
    #main-header>div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    #main-header>div:first-child>img{
        margin: 0;
        margin-top: 8px;
    }
    #main-header>div:last-child{
        width: 0px;
    }
    #nav{
        position: absolute;
        width: fit-content;
        padding: 10px;
        flex-direction: column;
        height: fit-content;
        left: 0;
        top: 0;
        border-radius: 10px;
        margin-top: 20%;
        background-color: black;
        transform: translateX(-40vh);
        overflow: hidden;
        transition: all .5s ease-in-out;

    }
    #nav>div{
        width: 20vh;
        padding: 0px 5px;
    }
    #nav.open{
        transform: translateX(0vh);
    }
    .menu{
        font-size: 40px;
        display: flex;
        cursor: pointer;
    }

}